# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: check-vcs-permalinks
      - id: detect-private-key
        exclude: ".*_test.go"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        files: "^(docs/content|pkg|test)/.*"
  - repo: local
    hooks:
      - id: test
        name: "Unit testing"
        entry: make
        args: ["test"]
        language: system
        types: [go]
        pass_filenames: false
      - id: lint
        name: "Linting"
        entry: make
        args: ["lint"]
        language: system
        pass_filenames: false
      - id: check-generated
        name: "Check generated vendor and golden files"
        entry: make
        args: ["check-generated"]
        language: system
        types: [go]
        pass_filenames: false
      - id: shellcheck
        name: "Shellcheck"
        entry: "shellcheck"
        language: system
        types: [shell]
      - id: gitlint
        name: "Gitlint"
        entry: "make"
        language: system
        types: [text]
        args: ["gitlint"]
# TODO: add a lint-sh when we have the errors fix
