# go to https://smee.io generate an ID and enter it in SMEE_URL_TO_REPLACE
[Unit]
Description=Pysmee Forward

[Service]
ExecStart=%h/.local/bin/pysmee forward --save /tmp/s.json SMEE_URL_TO_REPLACE http://paac.paac-127-0-0-1.nip.io


[Install]
WantedBy=default.target
