Starting Pipelinerun <b>[{{ .Mt.PipelineRunName }}]({{ .Mt.ConsoleURL }})</b> in namespace <b>{{ .Mt.Namespace }}</b><br>
You can monitor the execution using the [{{ .Mt.ConsoleName }}]({{ .Mt.ConsoleURL }}) PipelineRun viewer or through the command line by
using the [{{ .Mt.TknBinary }}]({{ .Mt.TknBinaryURL }}) CLI with the following command:

<code>{{ .Mt.TknBinary }} pr logs -n {{ .Mt.Namespace }} {{ .Mt.PipelineRunName }} -f</code>
